body {
  min-width: @mobile-width;
  font-family: "Open Sans", "Arial", serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background: #fff;
}
.button {
  height: 55px;
  width: 280px;
  border: 3px solid;
  border-radius: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
