.creators {
  margin-top: 40px;
  &__text {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
  }
  &__logo {
    display: inline-block;
    vertical-align: middle;
    &:hover {}
    &:active {}
  }
}
