.effect {
  display: none;
  .container();
  .clearfix();
  @media @tablet-widths {
    width: 100%;
    display: block;
  }
}
.effect__logo {
  float: left;
  @media @tablet-widths {
    width: 300px;
  }
  @media @desktop-widths {
    width: 370px;
  }
}
.effect__info {
  float: left;
  @media @tablet-widths {
    width: 300px;
  }
  @media @desktop-widths {
    width: 570px;
  }
}
