.footer {
  font-size: 24px;
  text-align: center;
}
.footer__slogan {
  font-family: "Open Sans Light", "Arial", sans-serif;
  padding: 0 50px;
  margin-top: 48px;
}
.footer__contacts {
  margin-top: 45px;
  padding: 0 40px;
  text-align: center;
}
.footer__item {
  margin-bottom: 28px;
}
.footer__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
.footer__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #d22856;
  text-decoration: none;
}
.footer__map {
  min-height: 200px;
  width: auto;
  display: block;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat, url("../img/bg-map-mobile@1x.png");
  background-position: left top, right bottom;
  background-size: 100%, cover;
}
.footer__img-map {
  display: block;
}
.footer__end_hidden {
  display: none;
  @media (min-width: 700px) {
    .page-footer__logo {
      float: left;
    }
    .social-icons {
      float: left;
    }
    .creators {
      float: right;
    }
  }
}
