.footer {
  font-size: 24px;
  text-align: center;
}
.footer__slogan {
  font-family: "Open Sans Light", "Arial", sans-serif;
  padding: 0 50px;
  margin-top: 48px;
}
.footer__contacts {
  display: inline-block;
  margin-top: 45px;
  padding: @mobile-padding;
  text-align: center;
}
.footer__item {
  vertical-align: top;
  margin-bottom: 28px;
  @media @tablet-widths {
    display: inline-block;
    min-width: 300px;
    padding: 0 10px;
  }
  @media @desktop-widths {
    float: left;
  }
}
.footer__item_center {
  @media @tablet-widths {
    padding: 0 110px;
  }
  @media @desktop-widths {
    padding: 0 10px;
  }
}
.footer__item_right {
  @media @desktop-widths {
    float: right;
  }
}
.footer__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
.footer__text {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #d22856;
  text-decoration: none;
}
.footer__map {
  min-height: 200px;
  width: auto;
  display: block;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat, url("../img/bg-map-mobile@1x.png");
  background-position: left top, right bottom;
  background-size: 100%, cover;
}
.footer__img-map {
  display: block;
}
.footer__end {
  padding: @mobile-padding;
  .container();
  @media @desktop-widths {
    padding: @desktop-padding;
  }
}
.footer__end_hidden {
  display: none;
  @media @tablet-widths {
    display: block;
  }
}
@media @tablet-widths {
  .page-footer__logo {
    float: left;
  }
  .social-icons {
    display: inline-block;
  }
  .creators {
    float: right;
  }
}
