.form-intro {
  text-align: center;
  .container();
  margin-top: 30px;
  padding-bottom: 56px;
  @media @tablet-widths {
    margin-top: 68px;
    padding-bottom: 80px;
  }
  @media @desktop-widths {
    margin-top: 64px;
    padding-bottom: 100px;
  }
}
.form-intro__content {
  padding: 0 20px;
  font-family: "Open Sans Light";
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  @media @tablet-widths {
    padding: 0 70px;
    font-size: 50px;
    line-height: 60px;
  }
}
.form-main {
  .container();
}
.form-main__slogan {
  text-align: center;
  padding: 43px 20px 33px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  @media @tablet-widths {
    padding: 92px 65px 70px;
    font-size: 18px;
  }
  @media @desktop-widths {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.form-main__slogan-invite_hidden {
  display: none;
  @media @tablet-widths {
    display: inline-block;
  }
}
.form {
  .container();
  display: flex;
  flex-flow: column;
  @media @desktop-widths {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.form__user-name {
  padding: 2px 20px 0;
  order: 1;
  flex: 1 100%;
  margin-bottom: 23px;
  & .form__label-text {
    display: flex;
    flex-flow: column;
    height: 66px;
    margin-bottom: 50px;
  }
  @media @tablet-widths {
    flex: 1 auto;
    margin-bottom: 2px;
    padding-left: 18px;
    & .form__label-text {
      flex-flow: row wrap;
      align-items: center;
    }
    & .form__input-text {
      flex: 13 auto;
    }
  }
  @media @desktop-widths {
    padding: 0 60px 0 10px;
    & .form__label-text {
      margin-top: 16px;
    }
    & .form__field-name {
      margin-right: 11px;
    }
    & .form__input-text {
      flex: 6 auto;
    }
  }
}
.form__legend,
.form__field-name {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
  &_hidden {
    display: none;
  }
}
.form__legend {
  line-height: 18px;
  padding: 0 25px;
  text-align: center;
}
.form__field-name {
  line-height: 30px;
}
.form__user-name .form__field-name {
  margin-bottom: 7px;
  margin-left: 21px;
  @media @tablet-widths {
    margin-left: 0;
  }
}
.form__field-name {
  flex: 1 100%;
  @media @tablet-widths {
    flex: 1 auto;
  }
}
.form__label-checkbox,
.form__label-radio,
.form__input-text,
.form__emotion-text {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
}
.form__input-text,
.form__emotion-text {
  box-shadow: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  flex: 1 100%;
  box-sizing: border-box;
}
.form__input-text {
  padding: 14px 0 14px 21px;
}
.form__emotion-text {
  padding: 14px 21px;
}
.form__achievements {
  padding: 36px 20px 17px;
  background-color: #f2f2f2;
  flex: 1 100%;
  order: 2;
  @media @tablet-widths {
    padding: 0 20px;
    margin-top: 56px;
    background-color: transparent;
    order: 4;
  }
  @media @desktop-widths {
    padding: 0 10px;
  }
}
.form__achievements-wrapper {
  padding: 0;
  margin: 23px 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  & li {
    height: 38px;
    margin: 22px 0;
  }
  @media @tablet-widths {
    margin: 28px 0 22px 60px;
  }
  @media @desktop-widths {
    margin: 28px 0 28px 60px;
    flex-flow: row wrap;
    & li {
      width: 30%;
    }
  }
}
.form__input-checkbox,
.form__input-radio {
  display: none;
}
.form__label-checkbox,
.form__label-radio {
  position: relative;
  padding-left: 70px;
  @media @tablet-widths {
    padding-left: 57px;
  }
}
.form__label-checkbox::before {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  content: "";
  height: 40px;
  margin-right: 26px;
  position: absolute;
  top: -7px;
  left: 0;
  width: 40px;
}
.form__input-checkbox:checked + .form__label-checkbox::after {
  border-color: #d22856;
  border-image: none;
  border-style: solid;
  border-width: 0 0 2px 2px;
  content: "";
  height: 10px;
  left: 22px;
  position: absolute;
  top: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 22px;
}
.form__contacts {
  padding: 0 20px;
  flex: 1 100%;
  order: 3;
  & .form__contacts-wrapper {
    margin-top: 30px;
    margin-bottom: 42px;
    height: 214px;
    display: flex;
    flex-flow: column;
    justify-content: space-between
  }
  & .form__label-text {
    display: flex;
    flex-flow: column;
  }
  & .form__field-name {
    margin-left: 21px;
    margin-bottom: 6px;
    flex: 1 100%;
    order: 1;
  }
  & .form__input-text {
    flex: 1 auto;
    order: 2;
  }
  @media @tablet-widths {
    margin-top: 40px;
    & .form__contacts-wrapper {
      padding: 0 58px;
      margin-top: 37px;
      margin-bottom: 47px;
    }
    & .form__label-text {
      margin-bottom: 30px;
    }
    & .form__field-name_visible {
      display: none;
    }
    & .form__legend_hidden,
    & .form__field-name_hidden {
      display: block;
    }
    & .form__field-name {
      order: 2;
      margin: 9px 0 0 19px;
    }
    & .form__input-text {
      order: 1;
    }
  }
  @media @desktop-widths {
    padding: 0 10px;
    margin-top: 0;
    & .form__contacts-wrapper {
      height: 66px;
      flex-flow: row wrap;
      justify-content: space-around;
      & .form__label-text {
        flex: 0 0 45%;
      }
    }
  }
}
.form__apps {
  padding: 36px 20px 17px;
  background-color: #f2f2f2;
  flex: 1 100%;
  order: 4;
  & fieldset {
    display: flex;
  }
  @media @tablet-widths {
    padding-top: 0;
    background-color: transparent;
    order: 2;
  }
  @media @desktop-widths {
    padding: 0 10px;
    flex: 1 auto;
  }
}
.form__apps-wrapper {
  padding: 0;
  margin: 23px 0 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  & li {
    height: 38px;
    margin: 19px 0;
  }
  @media @tablet-widths {
    margin: 28px 0 32px 60px;
  }
  @media @desktop-widths {
    margin: 35px 0 35px 72px;
    & li {
      margin: 17px 0 18px;
    }
    & .form__label-radio {
      padding-left: 60px;
    }
  }
}
.form__input-radio + .form__label-radio::before {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  left: 0;
  height: 40px;
  margin-right: 26px;
  position: absolute;
  top: -7px;
  width: 40px;
}
.form__input-radio:checked + .form__label-radio::after {
  background-color: #d22856;
  border-radius: 50%;
  content: "";
  height: 15px;
  left: 13px;
  position: absolute;
  top: 5px;
  width: 15px;
}
.form__emotions {
  padding: 36px 20px 0;
  flex: 1 100%;
  order: 5;
  & .form__emotion-text {
    margin: 19px 0 0;
    width: 100%;
    height: 200px;
  }
  @media @tablet-widths {
    padding: 0 20px;
    margin-top: 56px;
    & fieldset {
      padding: 20px 60px 48px;
    }
    & .form__emotion-text {
      height: 192px;
    }
  }
  @media @desktop-widths {
    padding: 0 10px;
    & fieldset {
      padding: 20px 60px 41px;
    }
    & .form__emotion-text {
      height: 125px;
    }
  }
}
.form__footer {
  padding: 0 20px;
  flex: 1 100%;
  order: 6;
  margin-top: 50px;
  @media @tablet-widths {
    margin-top: 70px;
  }
  @media @desktop-widths {
    padding: 0 10px;
  }
}
.form__send {
  @media @tablet-widths {
    padding: 0 10px;
    float: left;
  }
}
.form__required {
  @media @tablet-widths {
    float: right;
  }
}
.form__popup-fail_hidden,
.form__popup-success_hidden {
  display: none;
}
