.form-header {
  min-height: 495px;
  @media @tablet-widths {
    min-height: 440px;
  }
  @media @desktop-widths {
    min-height: 393px;
  }
}
.form-intro {
  .container();
  text-align: center;
  padding: 0 10px;
  @media @tablet-widths {
    margin-top: 84px;
    padding: 0 20px 95px;
  }
}
.form-intro__content {
  font-family: Open Sans Light;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  @media @tablet-widths {
    font-size: 50px;
    line-height: 50px;
  }
}
.form-main {
  .container();
  .clearfix();
  padding: 0 20px;
}
.form-main-slogan {
  min-height: 178px;
  @media @tablet-widths {
    min-height: 254px;
  }
  @media @desktop-widths {
    min-height: 220px;
  }
}
.form__user-name {
  min-height: 363px;
  @media @tablet-widths {
    min-height: 354px;
  }
  @media @desktop-widths {
    min-height: 300px;
    /*float: left;
    width: 50%;
    padding-right: 36px;*/
  }
}
.form__label_input {
  height: 90px;
  margin-bottom: 26px;
  display: block;
}
.form__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  @media @tablet-widths {
    float: left;
  }
}
.form__input-text {
  @media @tablet-widths {
    float: left;
  }
}
.form__achievements {
  min-height: 604px;
  @media @tablet-widths {
    min-height: 560px;
  }
  @media @desktop-widths {
    min-height: 240px;
  }
}
.form__contacts {
  min-height: 288px;
  @media @tablet-widths {
    min-height: 316px;
  }
  @media @desktop-widths {
    min-height: 170px;
  }
}
.form__apps {
  min-height: 340px;
  @media @tablet-widths {
    min-height: 305px;
  }
}
.form__emotions {
  min-height: 270px;
  @media @tablet-widths {
    min-height: 300px;
  }
  @media @desktop-widths {
    min-height: 64px;
  }
}
.form__footer {
  margin-top: 50px;
  @media @tablet-widths {
    margin-top: 70px;
  }
}
.form__send {
  @media @tablet-widths {
    float: left;
  }
}
.form__required {
  @media @tablet-widths {
    float: right;
  }
}
.form__popup-fail-hidden,
.form__popup-success-hidden {
  display: none;
}
