.header {
<<<<<<< HEAD
  width: @mobile-width;
  background: url(../../img/bg-back-mobile@1x.jpg) no-repeat;
  background-position: center top;
}
.header__title {
  width: @mobile-width;
  position: fixed;
  top: 0;
  left: 0;
=======
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center top;
  text-align: center;
}
.header__wrapper {
  min-width: @mobile-width;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header__title {
  margin: 0 auto;
>>>>>>> ded44bb21d1bb853a9170b89b3e312cc59a26c27
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
}
.header__logo {
  margin: 22px 20px;
  float: left;
}
.header__burger {
  margin: 22px 20px;
  float: right;
}
