.header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat scroll center top / cover;
  @media @tablet-widths {}
  @media @desktop-widths {}
}
.header__wrapper {
  @media @desktop-widths {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.header__title-wrapper {
  @media @desktop-widths {
    .container();
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}
.header__title {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  &_active {
    background-color: #283645;
  }
  height: 70px;
  @media @tablet-widths {
    height: 110px;
  }
  @media @desktop-widths {
    flex: 1 1 auto;
    background-color: transparent;
  }
}
.header__logo {
  margin-top: 22px;
  margin-left: 20px;
  float: left;
  @media @tablet-widths {
    margin-top: 44px;
  }
  @media @desktop-widths {
    margin-top: 44px;
  }
}
.header__burger {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  @media @tablet-widths {
    margin-top: 44px;
  }
  @media @desktop-widths {
    display: none;
  }
}
.header__down {
  position: relative;
  margin-top: 110px;
  bottom: 0;
  font-size: 0;
  line-height: 0;
  width: 100%;
  @media @tablet-widths {
    .container();
    margin-top: 72px;
    padding-bottom: 546px;
  }
  @media @desktop-widths {
    margin-top: 100px;
    padding-bottom: 644px;
  }
}
.header__hand-mobile {
  display: block;
  font-size: 0;
  line-height: 0;
  @media @tablet-widths {
    position: absolute;
    width: 470px;
    top: 0;
    right: 0;
    height: 546px;
  }
  @media @desktop-widths {
    width: 554px;
    height: 644px;
  }
}
.header__hand-mobile img {
  margin: 0 auto;
}
