.info__slogan {
  padding: 43px 25px 32px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  @media @tablet-widths {
    padding: 50px 25px;
    font-size: 40px;
  }
  @media @desktop-widths {
    font-size: 50px;
    padding: 72px 25px;
  }
}
.info__slogan p {
  margin: 0;
  padding: 0;
  line-height: 28px;
  @media @tablet-widths {
    line-height: 46px;
  }
  @media @desktop-widths {
    line-height: 60px;
  }
}
.info__question,
.info__answer {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.info__question {
  @media @tablet-widths {
    .clearfix();
  }
}
.info__answer {
  margin-top: 28px;
  @media @tablet-widths {
    margin-top: 0;
    width: 500px;
  }
}
.info__list {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto, 32px auto;
  padding-top: 64px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  @media @tablet-widths {
    padding-top: 0;
  }
  @media @desktop-widths {
    padding-left: 0;
  }
}
.info__list-inner {
  display: flex;
  flex-flow: column;
  @media @tablet-widths {
    flex-flow: row;
  }
  @media @desktop-widths {
    .container();
    flex-flow: row wrap;
  }
}
.info__item-wrapper {
  @media @tablet-widths {
    flex: 1 1 100%;
    order: 2;
    margin-top: 60px;
  }
  @media @desktop-widths {
    margin-top: 35px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}
.info__item {
  padding: 19px 20px 12px;
  &:last-child {
    padding-bottom: 0;
  }
  @media @tablet-widths {
    text-align: left;
    padding-left: 0;
    padding-bottom: 17px;
  }
  @media @desktop-widths {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 240px;
    padding-right: 0;
  }
}
.info__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  text-align: 10px;
  margin-bottom: 5px;
  @media @desktop-widths {
    font-size: 30px;
    text-align: 30px;
    width: 230px;
    line-height: 30px;
  }
}
.info__text {
  margin: 12px 6px 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  @media @tablet-widths {
    margin: 9px 22px 0 0;
  }
  @media @desktop-widths {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0 0;
  }
}
.info__img-wrapper {
  position: relative;
  height: 318px;
  overflow: hidden;
  & picture:nth-child(3) img {
    display: block;
  }
  @media @tablet-widths {
    flex: 1 1 100%;
    order: 1;
    height: 488px;
  }
  @media @desktop-widths {
    height: 300px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}
.info__img {
  display: none;
  bottom: -38px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  @media @tablet-widths {
    bottom: 0;
  }
  @media @desktop-widths {
    display: block;
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
  }
}
