.review {
  text-align: center;
  @media @desktop-widths {
    padding-top: 160px;
  }
}
.review__wrapper {
  .container();
  padding: 45px 20px 30px;
  box-sizing: border-box;
  @media @tablet-widths {
    padding-top: 27px;
    padding-bottom: 16px;
  }
  @media @desktop-widths {
    position: relative;
    padding-bottom: 42px;
  }
}
.review__items {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  @media @desktop-widths {
    width: 85%;
    position: relative;
    &::before {
      background: url("../img/icon-quotes.svg") no-repeat;
      content: "";
      position: absolute;
      left: 45%;
      top: -109px;
      width: 80px;
      height: 65px;
    }
  }
}
.review__item {
  display: none;
  flex-flow: column;
  @media @desktop-widths {}
}
.review__author-name {
  order: 1;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  @media @tablet-widths {
    font-size: 20px;
    order: 2;
    margin-top: 38px;
    margin-bottom: 5px;
  }
  @media @desktop-widths {
    font-size: 24px;
    line-height: 30px;
    margin-top: 34px;
    margin-bottom: 2px;
  }
}
.review__author-work {
  order: 3;
  display: none;
  @media @tablet-widths {
    line-height: 30px;
    display: block;
  }
  @media @desktop-widths {
    font-size: 18px;
  }
}
.review__author-text {
  order: 2;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  @media @tablet-widths {
    order: 1;
    font-size: 18px;
  }
}
.review__selectors {
  @media @tablet-widths {
    margin-top: 24px;
  }
  @media @desktop-widths {
    display: none;
  }
}
.slider__input {
  display: none;
}
.review__toggles {
  margin-top: 32px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  @media @tablet-widths {
    margin-top: 4px;
  }
}
.review__toggle {
  background-color: #bec2c7;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 0;
  height: 12px;
  margin: 6px;
  width: 12px;
  &:first-child {
    margin-left: 0;
  }
}
.review__toggle:hover {
  background-color: gray;
  cursor: pointer;
}
#review-input-1:checked ~ .review__selectors .review__toggle[for="review-input-1"],
#review-input-2:checked ~ .review__selectors .review__toggle[for="review-input-2"],
#review-input-3:checked ~ .review__selectors .review__toggle[for="review-input-3"] {
  background-color: transparent;
  border: 3px solid #283645;
  height: 12px;
  width: 12px;
}
#review-input-1:checked ~ .review__items .review__item:nth-child(1),
#review-input-2:checked ~ .review__items .review__item:nth-child(2),
#review-input-3:checked ~ .review__items .review__item:nth-child(3) {
  display: flex;
}
.review__toggle-arrow {
  display: none;
  @media @desktop-widths {
    position: absolute;
    font-size: 40px;
    color: #bec2c7;
    top: 10px;
    &_left {
      left: 10px;
      &::after {
        background: url("../img/icon-review-arrow-left.svg") no-repeat;
        content: "";
        width: 21px;
        height: 41px;
        left: 6px;
        position: absolute;
        top: 50px;
        opacity: 0.3;
        display: block;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover::after {
        opacity: 0.6;
      }
      &:active::after {
        opacity: 0.1;
      }
    }
    &_right {
      right: 10px;
      &::after {
        background: url("../img/icon-review-arrow-right.svg") no-repeat;
        content: "";
        width: 21px;
        height: 41px;
        right: 6px;
        position: absolute;
        top: 50px;
        opacity: 0.3;
        display: block;
      }
      &:hover {
        cursor: pointer;
      }
      &:hover::after {
        opacity: 0.6;
      }
      &:active::after {
        opacity: 0.1;
      }
    }
  }
}
#review-input-1:checked ~ .arrow-1,
#review-input-2:checked ~ .arrow-2,
#review-input-3:checked ~ .arrow-3 {
  @media @desktop-widths {
    display: block;
  }
}
